*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%
}
.start{
    background-image:linear-gradient(to right,white,orange);
    display: flex;
}
#one{
margin-left: 200%;
position: absolute;
}
h1{
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 200px;
    margin-top: 20px;
    max-width: 23px;
    
}

#fog{
    font-weight: 700;
    margin-left: 420px;
    margin-top: 40px;
    max-width: 88px;
}
.bot{
    display:block;
    background:orange;
    color: black;
    width: max-content;
    height: 10%;
    font-weight: bold;
    padding: 10px;
    margin-left: 150px;
}
.nav{
    font-size: medium;
    font-weight: bold;
    display: inline-flex;
    margin-left: 40%;
    color: black;
}
.nav,li{
    width: 100px;
    margin-left: 250px;
    padding: 10px;
}
    
.middle{
    background-color: whitesmoke;
}
.fiesta{
    border-style: solid;
    border-radius: 20px;
    border-color: slategray;
    margin: 15px;
    width: 30%;
    text-align: center;
    display: inline-block;
    height: 70%;
}
.go{
    color: sandybrown;
}
.middle,h2{
    color:rgb(78, 0, 0) ;
}
.para{
    text-align: center;
    padding:20px;
    text-overflow: auto;
}
.menu{
background-color: white;
}
.menu,span{
    text-align: center;
    font-weight: bolder;

}
p{
    text-align: center;
}
.achieve{
    text-align: center;
    display: inline-block;
    border-color:gray;
    margin: 10px;
    height: 120%;
    width: 28%;
    border-style: solid;
    border-radius: 20px;
    padding: 38px;
}
.down{
    background-color: whitesmoke;
    display: flex;

}
#best{
    font-weight: bolder;
    font-size: x-larger;
    color: black;
    margin-left: 98px;
}
h4{
    margin-left: 18px;
    font-weight: bolder;
    margin-top: 80
}

.hard{

}
.harder{
}
.last{
    background-color: orange;
    display: flex;
}
#mm{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
    font-size: xx-large;
}
.sem{
    flex: 53.3%;
    padding: 33px;
}
.semi{
    padding: 5px;
    flex: 93.3%;
    margin: 98px;
    height: 80px;
}
.kulia{
    background-color: whitesmoke;
}
.mans{
    margin-left: 450px;
    font-weight: 600;
}
#man{
    font-weight: 900;
    font-size: 1.5em;
}

.lasts {
    background-color: white;

}
.home{
    margin-left: 18%;
    padding: 0;
}
#sam{
    text-align: right;
    margin-left: 1300px;
}

#ref{
    text-align: left;
    margin-bottom: 0;
    margin-right: 1300px;
}








